<div class="checks">
    <div class="title">
        <h2>{table.title}</h2>
        <h2>You may create up to five checks</h2>
    </div>
    <div class="actions">
        <a class="action-button green" href="checks/create"><span>Create Check</span></a>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                        <th>S/N</th>
                        <th>User Phone</th>
                        <th>Protocol</th>
                        <th>Url</th>
                        <th>Method</th>
                        <th>Success Codes</th>
                        <th>Timeout Seconds</th>
                        <th>State</th>
                        <th>Last Checked</th>
                        <th>Action</th>
                </tr>  
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>