<div class="jumbotron">
    <div class="form-title"> 
            <h1>{form.title}</h1>
    </div>
    <div class="form-error" id="form-error"></div>
    <form class="form"  novalidate id="signup-form">
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input class="form-input" name="firstName" id="firstname" type="text" required="true" minlength="3" placeholder="John "/>
            <span id="firstName-error" class="error">Firstname is required with minimum of 3 characters</span>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input class="form-input" type="text" id="lastname" name="lastName" required="true" minlength="3" placeholder="Doe"/>
            <span id="lastName-error" class="error">Lastname is required with minimum of 3  characters</span>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input class="form-input" id="phone" type="tel" name="phone" required="true" minlength="11" maxlength="11" placeholder="08033478912"/>
            <span id="phone-error" class="error">Phone is required with  11 digits</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-input" id="password" type="password" name="password" required="true" minlength="8" placeholder="password"/>
            <span id="password-error" class="error">Password is required with minimum of 8 characters</span>
        </div>
        <div class="form-group checkbox">
            <input class="" id="tos" type="checkbox" required="true" name="tosAgreement"/>
            <label for="tos">Terms of Service</label>
            <span id="tosAgreement-error" class="error">Terms of Service must be checked</span>
        </div>
        <button type="submit" class="action-button green" id="create-account" ><span>Create Account</span></button>
    </form>
 
</div>
